<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Help 1</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/navb.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/wholeAppDesign.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-center" href="#">Algo-writer</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Confused on what a parameter is? We'll we got you covered!</h1><br>
        <h3>Parameter = data passed to a method (aka function) for processing.</h3><br>

        <p>Back when I took my first programming course, a tutor explained 'parameter' to me
        and since then I have never forgotten. She said, "Well first off, a function is like a machine. It can take in input, and spit out an output.
            Parameters are the input to our machines." </p>

        <p>Example: Let's say you wanted to create a function that reverses the word "Algo-writer." The first step would
            be to realize that your function is going to operate on strings, since Algo-writer is a string. Therefore, your machine needs
            some way to access this string. Drum roll please.... You can access the string by passing it in as a parameter!
            Now you're set! Therefore, on the previous page you would answer "Yes, my function needs a parameter." The parameter type would be
            String and the parameter name could be anything you want, for example "myString" or "reversedString".</p>

        <br>
        <button class="btn btn-lg" type="button" onclick="javascript:history.back()">&laquo; Back</button>
    </div>
</body>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>

</html>