<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Help 1</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/navb.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/wholeAppDesign.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-center" href="#">Algo-writer</a>
            </div>
        </div>
    </nav>

    <div class="container">

        <h1>Confused on what a 'return' is? We'll we got you covered!</h1><br>
        <h3>Return = the result of a function, indicating the completion of the task or the result of an operation.</h3><br>
        <p>For example, let's say I have the function public int add(int x, int y). What this function is supposed to do is add whatever values are in x and y together and then return the result.
            Let's say that we want to put this result in a variable called z. That means our function should return z, which holds an int (since an int added with another int, should return an int).  Therefore, on the previous page you would answer "Yes, my function returns something." The type would be
            int and the description could be, "Returning z, the variable that holds an int" </p>
        <br>
        <button class="btn btn-lg" type="button" onclick="javascript:history.back()">&laquo; Back</button>
    </div>
</body>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>

</html>