<!DOCTYPE html>
<html>
<head>
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
            k='170801697-0',d=document,l=d.location,c=d.cookie;
        if(l.search.indexOf('utm_expid='+k)>0)return;
        function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
        indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
                length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
                '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
                '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
                '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
                valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
                '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->


    <title>home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/navb.css">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/function1.css">

</head>
<body>
<style>
body {
    background-color: lightblue;
}
</style>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
<!--hamburger
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-menu">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>-->
	      <a class="navbar-center navbar-brand" href="#">Algo-writer</a>
	    </div>
<!--hamburger
		<div class="collapse navbar-collapse" id="header-menu">
	      <ul class="nav navbar-nav navbar-right">
	      <li><a href="index">Home</a></li>
				<li><a href="settings">Settings</a></li>
				<li><a href="login">Logout</a></li>
	      </ul>
	    </div>-->
	  </div>
	</nav>
	<div class="container" align="center">
		<h1>Hey! What would you like to code today?</h1>
		<img src="http://lorempixel.com/150/140/people/" style="border-radius: 50%">
        <p>New Here? We have a static "Tutorial" you can explore by choosing "Continue".</p>
		<form>
			<div class="container">
                <div id = "container">
				<div class="row">
					<button type="submit" class="btn btn-lg btn-block" formaction="function1">Create a New Function</button>
				</div>
				<br>
				<div class="row">
					<button type="submit" class="btn btn-lg btn-block" formaction="saves">Continue on a Function</button>
				</div>
                    <br>
                    <div class="row">
                        {{#unless viewAlt}}
                            <button type="submit" class="btn btn-lg" formaction="login">&laquo; Logout</button>
                        {{/unless}}
                        {{#if viewAlt}}
                            <button type="submit" class="btn btn-lg" formaction="viewAlt">&laquo; Logout</button>
                        {{/if}}
                    </div>
				<br>
				<div class="row">
                    <br><br>

				</div>
                </div>
			</div>
		</form>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
