<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<style>
	.button {
		width:50%;
		display:block;
	}
	</style>
</head>
<body>
	<div class="container" align="center">
		<h1>Hi! What would you like to code today?</h1>

		<img src="http://localhost:3000/images/hmm.png">
		<br>
		<br>
		<form>
			<button type="submit" class="button" formaction="../pages/afterhome.html">Something New</button>
			<br>
			<button type="submit" class="button" formaction="http://localhost:3000/pages/saves.html">Something from Earlier</button>
			<br>
			<button type="submit" class="button" formaction="http://localhost:3000/public/pages/login.html">Logout</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="../js/bootstrap.js"></script>
</body>
</html>
