<!DOCTYPE html>
<html>
<head>


    <!--Added styling to this page in mainPage.css-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mainPage.css">
    <link rel="stylesheet" href="/css/navb.css">
    <link rel="stylesheet" href="../css/wholeAppDesign.css">


</head>

<body>
<div>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-center navbar-brand" href="#">Algo-writer</a>
            </div>
        </div>
    </nav>
</div>
<div id="myDIV" class="header">
    <h2 style="margin:5px">My Algorithm</h2>
    <form>
        <input type="text" id="myInput"  placeholder="Next Step" name="step">
        <button class="btn btn-lg" formaction="add5">Add</button>
    </form>
</div>

<div id="div" class="btn-group" style="width:100%">
    <div>
        <button class="buttonTopRow" style="width:33.3%"><a href="details2">Details</a></button>
    </div>
    <div>
        <button class="buttonTopRow" style="width:33.3%"><a href="yourparameters2">Parameters</a></button>
    </div>
    <div>
        <button class="buttonTopRow" style="width:33.3%; background-color:#00bfa5"><a href="tips">Quick Tips</a></button>
    </div>
</div>
<ul id="myUL">
    <div contenteditable="false">
        <li class="closeable">Here is a static example of what you can do in Algo-writer. Feel free to explore this pre-made algorithm that we've created for you.</li>
        <li class="closeable">When creating your algorithm, try to be specific and think "line by line" how your code should work</li>
        <li class="closeable">You can add, delete, and edit steps</li>
        {{#each save}}
        <li>{{step}}</li>
        {{/each}}

        <!--<li class="checked closeable">Not sure you want to delete a step? Just cross it out by tapping the line!</li> -->

    </div>
</ul>


<form>
    <button type="submit" class="button" style="width:50%" formaction="index">Save and Quit</button>

    <button type="submit" class="buttonSeeRec" style="width:50%" formaction="suggestionstwo"><span>See Recommendations</span></button>


</form>

</body>

</html>