<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        window.onload = function() {


         for (var i = 0; i < sessionStorage.length; i++) {
            $('#blah').append('<li class="closeable" id="edit'+i+'">' + sessionStorage.getItem("key"+i) + '</li>' + '<button class = "btnSave" num="'+i+'">Save</button>');
        }
    }
    $(document).ready(function(){
        $(".btnSave").click(function(){
        //alert("text: " + $("#edit" + $(this).attr('num')).text());
        sessionStorage.setItem("key" + $(this).attr('num'), $("#edit" + $(this).attr('num')).text());
        });
    });
</script>


    <!--Added styling to this page in mainPage.css-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mainPage.css">
    <link rel="stylesheet" href="/css/navb.css">
</head>

<body>

<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <li><a class="navbar-center navbar-brand" href="#">Algo-writer</a></li>
            </div>
        </div>
    </nav>
</div>

<div id="myDIV" class="header">
    <h2 style="margin:5px">My Algorithm</h2>
    <input type="text" id="myInput" placeholder="Next Step">
    <span onclick="newElement()" class="addBtn">Add</span>
</div>

<div id="div" class="btn-group" style="width:100%">
    <div>
        <button class="buttonTopRow" style="width:33.3%"><a href="details">Algorithm Details</a></button>
    </div>
    <div>
        <button class="buttonTopRow" style="width:33.3%"><a href="yourparameters">Your Parameters</a></button>
    </div>
    <div>
        <button class="buttonTopRow" style="width:33.3%"><a href="tips">Quick Tips</a></button>
    </div>
</div>

<ul id="myUL">
    <div id="blah" contenteditable="true">
        <li>Click the 'Add button' at the top to add your first step!</li>
        <!--<li class="closeable">You can add, delete, and edit steps</li>-->
        <!--<li class="checked closeable">Not sure you want to delete a step? Just cross it out by tapping the line!</li> -->
    </div>
</ul>

<script src="../js/mainPage.js"></script>

<form>
    <button type="submit" class="button" style="width:50%" formaction="index">Save and Quit</button>
    <button type="submit" class="buttonSeeRec" style="width:50%" formaction="suggestions"><span>See Recommendations</span></button>
</form>

</body>

</html>