<!DOCTYPE html>
<html>
<head>
    <title>editingPage</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
    <style>
	.button {
		width:50%;
		display:block;
	}
    </style>
</head>

<body>
<table width="100%" border="0">
    <tr>
        <td colspan="2" bgcolor="#b5dcb3">
            <h1>Algo-Write</h1>
        </td>
    </tr>
</table>

<div class="container" align="center">
    <h1>Procedure</h1>
    <h1>Procedure ReverseString(Takes a String and Returns a String)</h1>
    <ol>
        <h1><li>Step1: Create a reference to the input string</li></h1>

        <h1><p>Click here to add a step
            <a href="#">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </p>
            <a href="#">
            <span class="glyphicon glyphicon-minus-sign"></span>
            </a></h1>
    </ol>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>