<!DOCTYPE html>
<html lang="en">
<head>
<!--     <script>
      $.getJSON('steps.json', function(dataSteps)){

      }

        function giveSugg(){
            console.log("Do i get here");
          for (var item in dataSteps.codeRecs){
            var stepWord = JSON.stringify(dataSteps.codeRecs[item]);
            for (var item2 in dataSugg.sugg){
              var recWord = JSON.stringify(dataSugg.sugg.english[item2]);
              if (stepWord.includes(recWord) == true){
                givenSugg = JSON.stringify(dataSugg.sugg.suggestions[item2]);
                console.log("This is givenSugg: " + givenSugg);
            }

        }
    }
}

</script> -->

  <br>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Function Step 1</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


      <h1>Here's what we'd recommend you doing.</h1>

      <h2>You can add your variables like this: </h2>
    <h3><code> int x, y, z; z = x + y; </code></h3><br>
      <h2>Here is how you could print your variables: </h2>
    <h3><code>int x = 2; print x; </code></h3><br>
      <h2>Here is how you can construct your loop: </h2>
    <h3><code> for (int i = 0; i < 10; i++) { </code></h3>
    <h3><code> //do something </code></h3>
    <h3><code>}</code></h3><br>
      <h3>Happy Coding! You got this!</h3>



  </head>

  <body>
  <div id="results"> </div>
<!--     <button  onclick="giveSugg()">See Suggestions"</button> -->
    <button><a href="mainPage">Back to Steps</a></button>
    <button><a href="index">Home</a></button>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- <script type ="text/javascript">ajax_get_json();</script> -->
    <!-- <script type ="text/javascript" src="steps.json"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>