<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Function Step 1</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/navb.css">
    <!--<link rel="stylesheet" href="/css/yourparameters2.css">-->
    <link rel="stylesheet" href="../css/wholeAppDesign.css">
    <!--<link rel="stylesheet" href="../css/mainPage.css">-->
    <!--<script src="../js/yourparameters.js"></script>-->

</head>

<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-center" href="#">Algo-writer</a>
        </div>
    </div>
</nav>
<div id="myDIV" class="header">
    <div class="container">
        <h2 style="margin:5px">My Parameters</h2>
        <form action="add3">
            <div class="row">
                <div class="col-xs-6">
                    <input class="form-control" type="text" id="myInput" name="newtype" placeholder="Parameter Type" required>
                </div>
                <div class="col-xs-6">
                    <input class="form-control" type="text" id="myInput2" name="newname" placeholder="Parameter Name" required>
                </div>
            </div>
            <br>
            <div>
                <button id="addParam" type="submit" class="btn btn-lg btn-block" id="myInput3" name="submit">add</button>
            </div>
        </form>
        <p class="error">Unfortunately, for testing purposes, parameters will not update in this tutorial algorithm. Parameters
        can be added in the algorithm you create, however.</p>
    </div>
</div>
<div class="container">
    <h1>Here is a list of your inputted parameters:</h1>

    <ul>
        {{#each parameters}}
            <li>
                <h3>{{type}}, {{name}}</h3>
            </li>
        {{/each}}
    </ul>
</div>
<div class="container">
<form>
    <button class="btn btn-lg" type="submit" style="background-color:#00bfa5" formaction="mainPage2Alt">&laquo; Go Back</button>
</form>
</div>
</div>

</body>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!--<script src="/js/yourparameters2.js"></script>-->
</body>

</html>