#newContainer {
    width: 200px;
    height: 350px;
    position: relative;
}

#bottom-left {
    padding: 230px 0px;
    background-image: none;
    left: 0;
    bottom: 0;
    position: relative;
}