.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    closeable: false;
    font-family: helvetica;
	font-weight: 600;
	font-size: 29px;

	/*color: #000000;*/
}


.nav-font {
	font-family: Roboto;
	font-style: italic;
	font-weight: 900;
	line-height: normal;
	font-size: 29px;

	color: #000000;
}

.navbar-bar {
	background-color: #00bfaf;
}




